body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url('../img/fondoLogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card{
    background-color: rgb(221, 228, 243);
}

.card-header{
    background-color: rgb(28, 107, 255);
    opacity: 1;
}

.white-text {
    color: white;
}

h1{
    font-size: 48px;
    padding: 10px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: white;
}

h2{
    font-size: 32px;
    padding: 10px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: white;
}
h3{
    font-size: 24px;
    padding: 10px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: white;
}

p{margin-bottom: 0px;}