body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-image: url(../../../public/img/fondoLogin.jpg);
}
.card{
    opacity: 0.8;
    background-color: rgb(236, 67, 194);
}

.card-header{
    background-color: rgb(202, 39, 148);
    color: rgb(209, 101, 101);
}

